$ffLexend: "Lexend", sans-serif;
$colorBlack: #20233e;
$colorSilver: #8b8d9b;
$colorOrange: #eba544;
$colorBlue: #3c50e0;

// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

.bg-header {
  background-image: url(../images/bg/section-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-bottom: 177px;
}

.bcg-text {
  position: relative;
  display: inline-block;

  z-index: 1;
}
.bg-yellow {
  width: 251px;
  height: 42px;
  position: absolute;
  background-image: url(../images/bg/Airpods-bg.svg);
  background-repeat: no-repeat;
  z-index: -1;
  left: -8px;
  bottom: 0;
}

.sup {
  position: absolute;
  top: -14px;
  right: -24px;
  font-size: 30px;
}

.header {
  padding: 32px 0px;
  margin-bottom: 108px;
  &-logo {
    height: 40px;
    img {
      max-height: 40px;
    }
  }
  &-social {
    text-align: end;
    white-space: nowrap;
    &-item {
      display: inline-block;
      height: 40px;
      margin-left: 17px;
      img {
        max-height: 40px;
      }
    }
  }
}
.indeed-preview {
  position: relative;
  margin-bottom: 85px;
  &-solve {
    max-width: 640px;
    position: relative;
    z-index: 2;
    &-marker {
      width: 205px;
      padding: 9px 10px;
      text-align: center;
      font-size: rem(18px);
      font-weight: 500;
      color: $colorBlue;

      background-color: #ffffff;
      border-radius: 10px;
      margin-bottom: 32px;
    }
    &-title {
      padding-right: 15px;
      font-size: rem(56px);
      font-weight: 700;
      line-height: 130%;
      color: #ffffff;
      margin-bottom: 17px;
    }
    &-text {
      font-size: rem(24px);
      font-weight: 400;
      line-height: 180%;
      color: #cdd3fa;
      margin-bottom: 46px;
      max-width: 440px;
    }
  }
  &-btn {
    &-resume {
      width: 308px;
      height: 70px;
      line-height: 70px;
      background: $colorOrange;
      text-align: center;
      color: #ffffff;
      font-size: rem(20px);
      font-weight: 600;
      margin-right: 21px;
      border: 1px solid #ffffff00;
      transition: 0.3s ease;
      img {
        vertical-align: middle;
      }
      &:hover {
        border: 1px solid #ffffff;
        background: #ffab36;
      }
    }
    &-solve {
      width: 308px;
      height: 70px;
      line-height: 70px;
      background: #ffffff;
      text-align: center;
      color: $colorOrange;
      font-size: rem(20px);
      font-weight: 600;
      margin-right: 21px;
      border: 1px solid #eba54400;
      transition: 0.3s ease;
      img {
        vertical-align: middle;
      }
      &:hover {
        background: #fafafa;
        border: 1px solid #eba544;
      }
    }
  }
  &-persone {
    position: relative;
    &-teen {
      position: absolute;
      z-index: 2;
      top: -86px;
      left: -84px;
      width: 653px;
    }
    &-stars {
      &__left {
        position: absolute;
        top: 41px;
        left: -66px;
      }
      &__top {
        position: absolute;
        top: -45px;
        right: -45px;
      }
      &__right {
        position: absolute;
        top: 181px;
        right: -165px;
      }
    }
  }
}

.grid-item1 {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
}

.grid-item2 {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

.grid-item3 {
  grid-column: 4 / 6;
  grid-row: 1/6;
}
