@media (max-width: 1330px) {
  // Generel
  // Header
  .top-screen-persone {
    margin-right: 0;
  }
  // Middle

  // Footer
}

@media (max-width: 1170px) {
  // Generel
  // Header
  .top-screen-persone-stars__right {
    right: -11px;
  }
  .top-screen-persone {
    top: -34px;
  }
  // Middle
  .aboutUs-picture-bottom {
    bottom: -31px;
  }
  .aboutUs-picture-left {
    top: 210px;
  }
  .aboutUs-picture-top {
    right: 0px;
    top: 119px;
  }
  // Footer
}

@media (max-width: 992px) {
  // Generel
  // Header
  .grid {
    grid-template-areas:
      "text"
      "teen"
      "btns";
    grid-template-columns: 1fr;
  }
  .top-screen-persone {
    top: 0;
    margin-left: 0;
    margin-bottom: 50px;
    top: -55px;
    &-img {
      display: block;
      margin: 0 auto;
    }
  }
  .top-screen-persone-stars__left {
    left: 143px;
  }
  .top-screen-persone-stars__top {
    right: 280px;
  }
  .top-screen-persone-stars__right {
    right: 108px;
  }
  // Middle
  .aboutus-order {
    order: 2;
  }
  .aboutUs {
    // margin-bottom: 500px;
  }
  .aboutUs-group {
    text-align: center;
    margin-bottom: 50px;
  }

  .aboutUs-picture-img {
    display: block;
    margin: 0 auto;
  }
  .aboutUs-picture {
    top: 20px;
    left: 0;
  }
  .participate {
    margin-bottom: 125px;
  }
  // Footer
}
@media (max-width: 868px) {
  .top-screen-persone-stars__left {
    left: 102px;
  }
  .top-screen-persone-stars__top {
    right: 212px;
  }
  .top-screen-persone-stars__right {
    right: 55px;
  }
  .bg-header-bg-item1 {
    bottom: -215px;
  }
}
@media (max-width: 768px) {
  // Generel
  .order {
    order: 2;
  }
  // Header
  .top-screen-persone-stars__left {
    left: -12px;
  }
  .top-screen-persone-stars__top {
    right: 35px;
  }
  .top-screen-persone-stars__right {
    right: -11px;
  }

  .bg-header-bg-item3 {
    display: none;
  }
  .bg-header-bg-item5 {
    display: none;
  }
  .bg-header-bg {
    border-bottom-right-radius: 100% 10%;
    border-bottom-left-radius: 100% 10%;
  }
  // Middle
  .steps-item-img {
    margin-bottom: 0px;
  }
  // Footer
}
@media (max-width: 655px) {
  // Generel
  // Header
  // Middle
  .question-num {
    flex-direction: column;
    margin-bottom: 35px;
    &-text {
      margin-bottom: 10px;
    }
  }
  .aboutUs-picture-item {
    &-num {
      font-size: rem(25px);
    }
    &-text {
      font-size: rem(14px);
    }
  }
  .aboutUs-picture-bottom-num {
    font-size: rem(25px);
  }
  .bg-header-bg-item1 {
    bottom: -115px;
    animation: none;
  }
  .bg-header-bg-item2 {
    top: -86px;
    animation: none;
  }
  .bg-header-bg-item3 {
    display: none;
  }
  .bg-header-bg-item4 {
    animation: none;
  }
  .bg-header-bg-item5 {
    display: none;
  }

  // Footer
}

@media (max-width: 576px) {
  // Generel
  // Header
  .top-screen-solve-title {
    font-size: rem(45px);
  }
  .top-screen-btn-resume {
    margin-bottom: 15px;
  }
  // Middle
  .popup-lab {
    padding-left: 25px;
    padding-right: 25px;
  }
  .aboutUs-picture-item {
    display: none;
    padding: 10px;
  }
  .aboutUs-picture-item {
    &-num {
      font-size: rem(18px);
      line-height: 14px;
    }
    &-text {
      font-size: rem(12px);
      line-height: 14px;
    }
  }
  .aboutUs-picture-bottom-num {
    font-size: rem(18px);
    line-height: 14px;
  }
  .aboutUs-picture-bottom-text {
    font-size: rem(12px);
    line-height: 14px;
  }
  .participate-title-h1 {
    font-size: rem(40px);
  }
  // Footer
  .footer-info {
    margin-bottom: 40px;
  }
  .footer-links {
    margin-bottom: 20px;
  }
  .col-footer-links {
    text-align: left;
  }
  .footer-links-icon {
    margin-left: 0;
    margin-right: 19px;
  }
}

@media (max-width: 400px) {
  // Generel
  // Header
  .header-social-item {
    margin-left: 5px;
  }
  .top-screen-solve-title {
    font-size: rem(32px);
  }

  .top-screen-persone-teen {
    width: 443px;
  }
  .confirmation {
    padding: 20px;
  }
  .tcs {
    padding: 30px 10px 43px 10px;
  }
  .confirmation-btn-tcs {
    margin-bottom: 15px;
  }
  .header-social {
    text-align: center;
  }
  .bg-header {
    margin-bottom: 50px;
  }
  .header {
    margin-bottom: 50px;
    padding: 17px 0px;
    &-logo {
      display: block;
      // top: -5px;
      width: 100%;
      height: 100%;
    }
  }

  .top-screen-persone-stars__left {
    height: 62px;
    width: 62px;
  }
  .top-screen-persone-stars__top {
    height: 62px;
    width: 62px;
  }
  .top-screen-persone-stars__right {
    height: 62px;
    width: 62px;
    right: 17px;
  }

  .header-logo img {
    display: block;
    margin: 0 auto;
  }

  .participate-title-h1 {
    font-size: rem(36px);
    line-height: 50px;
  }
  .aboutUs-group-text-title {
    font-size: rem(36px);
  }

  // Middle
  .question-label {
    margin-bottom: 10px;
  }
  .popup-lab {
    padding-left: 15px;
    padding-right: 15px;
  }
  .participate {
    margin-bottom: 80px;
  }

  // Footer
}

@media (max-width: 350px) {
  .top-screen-persone-stars__left {
    left: -21px;
  }
  .top-screen-persone-stars__top {
    right: 18px;
  }
  .top-screen-persone-stars__right {
    right: 56px;
    top: 249px;
  }
  .aboutUs-group-btn {
    font-size: rem(16px);
  }
}
