$ffLexend: "Lexend", sans-serif;
$colorBlack: #20233e;
$colorSilver: #8b8d9b;
$colorOrange: #eba544;
$colorBlue: #3c50e0;

// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  font-family: $ffLexend;
}

button {
  cursor: pointer;
}
input,
textarea {
  outline: none;
}

// Example of Btn
.ui-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: black;
  font-weight: 600;
  font-size: rem(20px);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-btn-icon {
  position: relative;
  top: 5px;
  vertical-align: middle;
}

.ui-field {
  position: relative;
  margin-bottom: 16px;
  color: #fa5353;
}

.ui-input {
  width: 100%;
  display: block;
  height: 50px;
  border-radius: 10px;
  border: 1.6px solid #ebecf5;
  padding-left: 64px;
  padding-right: 10px;
  font-size: rem(16px);
  color: $colorSilver;
  ::placeholder {
    font-family: $ffLexend;
    color: #8b8d9b;
  }
}
.ui-label {
  position: absolute;
  top: 14px;
  left: 28px;
}
.checkbox {
  margin-bottom: 28px;
  &-link {
    margin-left: 2px;
    color: $colorBlue;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
.ui-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ui-line {
  border-top: 1px solid $colorBlue;
  width: 100%;
  vertical-align: top;
  display: inline-block;
}
.checkbox-form {
  color: #8b8d9b;
  margin-bottom: 5px;
}
.checkbox-form .error {
  color: #fa5353;
}
.ui-checkbox + .checkbox-form {
  font-size: rem(14px);
}
.ui-checkbox + .checkbox-form::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ebecf5;
  border-radius: 0.25em;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.ui-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* hover checkbox */
.ui-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* Active checkbox */
.ui-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
// Answer btn
// .ui-answer-btn {
//   position: relative;
//   border: 1px solid #ebecf5;
//   border-radius: 10px;
// }
// .ui-answer-btn-num {
//   position: absolute;
//   transform: translate(-50%, -50%);
//   top: 50%;
//   left: 50%;
//   font-size: rem(16px);
//   font-weight: 600;
//   color: $colorBlack;
// }

// .ui-answer-btn.border > .ui-answer-btn-num {
//   color: red;
// }
// .ui-answer-btn-checkbox {
//   position: absolute;
//   z-index: -1;
//   opacity: 0;
// }

// .ui-answer-btn-checkbox + .ui-answer-btn-label::before {
//   content: "";
//   display: inline-block;
//   box-sizing: border-box;
//   width: 100%;
//   height: 50px;
//   line-height: 50px;
// }

// Style input for question.html

input[type="radio"] {
  display: none;
}
.question-label {
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 48px;
  color: $colorBlack;
  border: 1.6px solid #ebecf5;
  border-radius: 10px;
}
input[type="radio"]:checked + .question-label {
  border: 1.6px solid $colorBlue;
  color: $colorBlue;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
