@import "grid";
@import "UI";
@import "media";
@import "header";
@import "footer";

$ffLexend: "Lexend", sans-serif;
$colorBlack: #20233e;
$colorSilver: #8b8d9b;
$colorOrange: #eba544;
$colorBlue: #3c50e0;

// Mixin
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $ffLexend;
  font-weight: 400;
  font-size: rem(16px);
  color: $colorSilver;
  background-color: #e5e5e5;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.middle {
  margin-bottom: 270px;
}

.participate {
  margin-bottom: 249px;
  &-title {
    margin-bottom: 56px;
    &-h1 {
      font-size: 50px;
      font-weight: 700;
      line-height: 70px;
      color: $colorBlack;
      text-align: center;
      margin-bottom: 15px;
    }
    &-articul {
      text-align: center;
      font-size: rem(18px);
      line-height: 26.4px;
    }
  }
}
.steps {
  &-item {
    min-height: calc(100% - 56px);
    padding: 0px 40px;
    margin-bottom: 56px;
    &-img {
      text-align: center;
      height: 174px;
      margin-bottom: 34px;
      img {
        max-height: 174px;
      }
    }
    &-text {
      text-align: center;
      &-title {
        font-size: rem(20px);
        color: $colorBlack;
        margin-bottom: 11px;
      }
      &-articule {
        line-height: 25.6px;
      }
    }
  }
  &-btn {
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 60px;
    line-height: 60px;
    background: $colorBlue;
    text-align: center;
    transition: 0.3s ease;
    &:hover {
      background: #3e53f7;
    }
  }
}
.aboutUs {
  position: relative;
  &-group {
    padding: 0px 10px;
    &-text {
      margin-bottom: 32px;
      &-title {
        font-size: rem(50px);
        font-weight: 700;
        color: $colorBlack;
        margin-bottom: 16px;
      }
      &-articule {
        font-size: rem(18px);
        line-height: 32.4px;
        :first-child {
          margin-bottom: 13px;
        }
      }
    }
    &-btn {
      // width: 370px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      background: $colorBlue;
      font-size: rem(18px);
      transition: 0.3s ease;
      &:hover {
        background: #4056fc;
      }
    }
    &-input {
      display: none;
    }
  }
}

.popup-form {
  background: #ffffff;
  position: relative;
  margin: 0 auto;
  max-width: 770px;
  padding: 60px 20px 48px 20px;
  border-radius: 20px;
  &-img {
    margin-bottom: 15px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &-title {
    display: block;
    font-size: rem(24px);
    text-align: center;
    font-weight: 600;
    color: $colorBlack;
    max-width: 520px;
    line-height: 34.8px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    max-width: 600px;
    margin-bottom: 24px;
  }
  &-btn {
    display: block;
    margin: 0 auto;
    max-width: 340px;
    height: 60px;
    line-height: 60px;
    background: $colorBlue;
    font-size: rem(16px);
    font-weight: 600;
    transition: 0.3s ease;
    &:hover {
      background: #4258ff;
    }
  }
}
.button.mfp-close {
  background: black;
}

// popup style

.confirmation {
  padding: 48px 40px;
  &-img {
    margin-bottom: 15px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &-title {
    display: block;
    font-size: rem(24px);
    text-align: center;
    font-weight: 600;
    color: $colorBlack;
    max-width: 520px;
    line-height: 34.8px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    max-width: 600px;
    margin-bottom: 24px;
  }
  &-btn {
    display: block;
    font-size: 0;

    &-tcs {
      height: 60px;
      line-height: 60px;
      font-size: rem(16px);
      font-weight: 600;
      width: 49%;
      color: $colorBlue;
      background: #f6f7ff;
      margin-right: 13px;
      transition: 0.3s ease;
      border: 1px solid #dddddd00;
      &:hover {
        border: 1px solid $colorBlue;
      }
    }
    &-upload {
      height: 60px;
      line-height: 60px;
      font-size: rem(16px);
      font-weight: 600;
      width: 49%;
      color: #ffffff;
      background: $colorBlue;
      transition: 0.3s ease;
      &:hover {
        background: #3e53f7;
      }
    }
  }
}
